{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "strict": 2,
    "no-console": 2,
    "no-extra-semi": 2,
    "semi": [
      2,
      "never"
    ],
    "no-unreachable": 2,
    "eqeqeq": 2,
    "prefer-object-spread": 2,
    "no-var": 2,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "jsx-quotes": [
      2,
      "prefer-single"
    ]
  }
}