.product-row {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;

  .product-description {
    font-size: 1rem;
    border: 1px solid silver;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    color: gray;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    align-items: center;
    max-width: 100%;
    
    img {
      min-width: 15vw;
      min-height: 15vw;
      max-width: 15vw;
      max-height: 15vw;
      display: block;
      margin: 0 auto;
      padding: 10px;
    }

    p {
      font-weight: bold;
      text-align: justify;
    }

    .summary {
      padding: 5px;
    }

    .title {
      margin: 0;
      padding: 10px;
    }

    .price {
      color: #108ee9;
    }
  }
}

@media screen and (max-width: 576px) {
  .product-row {
    .product-description {
      flex-direction: column;

      img {
        min-width: 50vw;
        max-height: 50vw;
      }

      .title {
        max-width: 300px;
        overflow: auto;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .product-row {
    .product-description {
      max-width: 100%;
    }
  }
}
